@font-face {
	font-family: "samarkan";
	src: url("../fonts/samarkan.ttf") format("truetype");
}

.vedicfont {
	font-family: "samarkan", sans-serif;
}

#gitabanner {
	color: #92400e;
	font-size: 60px;
	font-family: "samarkan", sans-serif;
}
