@font-face {
	font-family: "samarkan";
	src: url("../fonts/samarkan.ttf") format("truetype");
}

.vedicfont {
	font-family: "samarkan", sans-serif;
}

#gitabanner {
	font-size: 60px;
	font-family: "samarkan", sans-serif;
	width: 700px;
	margin: 0 auto;
	margin-top: 50px;
}
