:root {
    --md-primary-fg-color:        #ff7722;
    --md-primary-bg-color: rgb(243, 252, 204);
    
  }

  @font-face {
	font-family: "samarkan";
	src: url("../assets/samarkan.ttf") format("truetype");
}

.vedicfont {
	font-family: "samarkan", sans-serif;
    font-size: 100px;
    color:#ff7722
}