<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ॐ vedic | home/bhagavadgita</title>
		<script>
			var exports = {};
			pageSelected = (select) => {
				document.location.replace(`/bhagavadgita/${select.value}/1`);
			};
		</script>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="/static/js/gita.js"></script>
		<link rel="stylesheet" href="/static/css/global.css" />

		<meta content="vedic/bhagavadgita" property="og:title" />
		<meta content="a vedic text querying website + API." property="og:description" />
		<meta content="." property="og:url" />
		<meta content="https://i.imgur.com/aEHgSqy.png" property="og:image" />
		<meta content="#ff7722" data-react-helmet="true" name="theme-color" />
		<meta name="twitter:card" content="summary_large_image" />
	</head>

	<body class="bg-slate-900 text-yellow-100">
		<header class="" , style="background-color: #ff7722">
			<span class="vedicfont text-white ml-6" , style="font-size: 47px">
				<a href="..">vedic</a>
			</span>
		</header>

		<div class="font-mono text-yellow-100 pl-10 pt-6" style="font-size: large">
			<label for="adhyaya_nav">Adhyaya: </label>
			<select
				onchange="pageSelected(this)"
				class="bg-blue-950 rounded"
				name="adhyaya_nav"
				id="adhyaya_nav"
			>
				<option value="" disabled selected>Select Adhyaya</option>
				<option value="1">1: Arjuna Vishadayoga</option>
				<option value="2">2:</option>
				<option value="3">3:</option>
				<option value="4">4:</option>
				<option value="5">5:</option>
				<option value="6">6:</option>
				<option value="7">7:</option>
				<option value="8">8:</option>
				<option value="9">9:</option>
				<option value="10">10:</option>
				<option value="11">11:</option>
				<option value="12">12:</option>
				<option value="13">13:</option>
				<option value="14">14:</option>
				<option value="15">15:</option>
				<option value="16">16:</option>
				<option value="17">17:</option>
				<option value="18">18:</option>
				<option value="19">19:</option>
				<option value="20">20:</option>
				<option value="21">21:</option>
				<option value="22">22:</option>
				<option value="23">23:</option>
				<option value="24">24:</option>
				<option value="25">25:</option>
				<option value="26">26:</option>
				<option value="27">27:</option>
				<option value="28">28:</option>
			</select>
		</div>
		<img
			src="/static/images/gita_banner_text.png"
			width="90%"
			class="mt-10"
			style="margin-left: 5%"
		/>
		<div id="navigator" class="my-5 mr-10">
			<div class="inline-flex float-right">
				<button
					onclick="navigate(-1)"
					id="prevbtn"
					class="bg-orange-600 hover:bg-orange-400 disabled:bg-slate-400 text-white font-bold py-1 pl-2 pr-1 rounded-l"
				>
					Previous
				</button>
				<button
					onclick="navigate(1)"
					id="nxtbtn"
					style="margin-left: 0.5px"
					class="bg-orange-600 hover:bg-orange-400 disabled:bg-slate-400 text-white font-bold py-1 pr-2 pl-1 rounded-r"
				>
					Next
				</button>
			</div>
		</div>
		<div id="shloka_container" class="mx-10 mt-10 font-mono">
			<div id="shloka_info_container" class="text-amber-800 font-bold">
				अध्याय: <span id="placeholder_adhyaya"></span> , श्लोक:
				<span id="placeholder_shloka"></span> , speaker: <span id="placeholder_speaker"></span>
			</div>

			<div style="border-top: 2px solid; color: #92400e"></div>
			<div id="shloka_orig_container" class="mt-5">
				<div class="text-amber-800 font-extrabold" style="font-size: x-large">श्लोक</div>
				<span id="placeholder_original"></span>
			</div>
			<br />
			<div id="shloka_romanised_container" class="mb-5">
				<!-- <div class="text-amber-800 font-extrabold" style="font-size: larger">shloka</div> -->
				<span style="font-size: small" id="placeholder_romanised"></span>
			</div>
			<div style="border-top: 3px solid; color: rgb(146 64 14)"></div>
			<div id="shloka_hindi_container" class="my-5">
				<div class="text-amber-800 font-extrabold underline" style="font-size: x-large">
					अनुवाद
				</div>
				<span id="placeholder_hindi"></span>
				<br /><br />
				<span id="placeholder_english" style="font-size: small"></span>
			</div>
			<div style="border-top: 3px solid; color: rgb(146 64 14)"></div>
		</div>
		<script>
			loadGitaShloka();
		</script>
	</body>
</html>
