<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ॐ vedic | home/bhagavadgita</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="/static/css/global.css" />

		<meta content="vedic/bhagavadgita" property="og:title" />
		<meta content="a vedic text querying website + API." property="og:description" />
		<meta content="." property="og:url" />
		<meta content="https://i.imgur.com/aEHgSqy.png" property="og:image" />
		<meta content="#ff7722" data-react-helmet="true" name="theme-color" />
		<meta name="twitter:card" content="summary_large_image" />

		<script>
			shiftToShlokas = () => {
				document.location.replace("./bhagavadgita/1/1");
			};

			pageSelected = (select) => {
				document.location.replace(`./bhagavadgita/${select.value}/1`);
			};
		</script>
	</head>

	<body id="gitabody" class="bg-slate-900 text-yellow-100">
		<header class="" , style="background-color: #ff7722">
			<span class="vedicfont text-white ml-6" , style="font-size: 47px">
				<a href=".">vedic</a>
			</span>
		</header>

		<div class="font-mono text-yellow-100 pl-10 pt-6" style="font-size: large">
			<label for="adhyaya_nav">Adhyaya: </label>
			<select
				onchange="pageSelected(this)"
				class="bg-blue-950 rounded"
				name="adhyaya_nav"
				id="adhyaya_nav"
			>
				<option value="" disabled selected>Select Adhyaya</option>
				<option value="1">1: Arjuna Vishadayoga</option>
				<option value="2">2:</option>
				<option value="3">3:</option>
				<option value="4">4:</option>
				<option value="5">5:</option>
				<option value="6">6:</option>
				<option value="7">7:</option>
				<option value="8">8:</option>
				<option value="9">9:</option>
				<option value="10">10:</option>
				<option value="11">11:</option>
				<option value="12">12:</option>
				<option value="13">13:</option>
				<option value="14">14:</option>
				<option value="15">15:</option>
				<option value="16">16:</option>
				<option value="17">17:</option>
				<option value="18">18:</option>
				<option value="19">19:</option>
				<option value="20">20:</option>
				<option value="21">21:</option>
				<option value="22">22:</option>
				<option value="23">23:</option>
				<option value="24">24:</option>
				<option value="25">25:</option>
				<option value="26">26:</option>
				<option value="27">27:</option>
				<option value="28">28:</option>
			</select>
		</div>

		<!-- 
		<div id="gitabanner" class="m-10 text-red-600">श्रीमद्भगवद्गीता | Bhagavad Gita</div>
		<div class="mx-36" style="border-top: 3px solid; color: #f7bb4a ;"></div> -->
		<img
			src="/static/images/gita_banner_text.png"
			width="90%"
			class="mt-10"
			style="margin-left: 5%"
		/>
		<div class="mt-10" style="margin-left: 5%; margin-right: 5%">
			<span class="vedicfont underline text-orange-300" style="font-size: 70px">About</span>
			<button
				onclick="shiftToShlokas()"
				class="mt-6 float-right bg-orange-600 hover:bg-orange-400 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-500 rounded"
			>
				Continue ...</button
			><span> </span>
		</div>
		<div class="mt-5" style="margin-left: 5%; margin-right: 5%">
			<i><b>"Bhagavad Gita"</b></i> which translates to "the song of God" is a part of one of the
			two well-known <i>itihasas <b>"Mahabharata"</b></i
			>. Occupying chapters 23 to 40 of the sixth book of <i>Mahabharata</i>, it is composed in
			the form of a dialogue between <i>Arjuna</i>, the prince who was preoccupied with morals
			and emotional dilemma about the despair, violence, and the number of deaths this
			<i>Dharma yudha</i> between the <i>Pandavas</i> and <i>Kauravas</i> is going to cost, and
			<i>Shri Krishna</i>, the avatar ( incarnation ) of god <i>Vishnu</i> who counsels him to
			fulfill his <i>Kshatriya Dharma</i> ( duty of a warrior ) to uphold <i>Dharma</i> through
			<i>Karma</i>.
		</div>
	</body>
</html>
