<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ॐ vedic | home</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="static/css/global.css" />

		<meta content="vedic/home" property="og:title" />
		<meta content="a vedic text querying website + API." property="og:description" />
		<meta content="." property="og:url" />
		<meta content="https://i.imgur.com/aEHgSqy.png" property="og:image" />
		<meta content="#ff7722" data-react-helmet="true" name="theme-color" />
		<meta name="twitter:card" content="summary_large_image" />
	</head>

	<body class="bg-slate-900">
		<header class="border-b-2 border-blue-300" , style="background-color: #ff7722">
			<div class="vedicfont text-white ml-6" , style="font-size: 47px">vedic</div>
		</header>
		<div><img class="float-right" src="static/images/top_right_design.png" width="20%" /></div>
		<div class="ml-10" id="refs">
			<div id="avail_head" class="vedicfont text-orange-400 pt-10" style="font-size: 40px">
				Available Topics
			</div>
			<div style="border-top: 2px solid; color: rgb(251 146 60); margin-right: 70%"></div>
			<ul class="pt-5 text-[#ff7722] font-mono list-disc">
				<li><a href="/bhagavadgita">Bhagavad Gita (श्रीमद्भगवद्गीता)</a></li>
			</ul>
		</div>
	</body>
</html>
